/* global styling */ 
:root{
    --purp: #552154;
    --fade: rgba(128, 128, 128,0.9); 
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body{
    font-family: 'Roboto', sans-serif;
}

.main-container{
    margin: auto;
    width: 90%; 
    padding-top: 3.5rem;
} 
.sec-a h1{ 
    padding: 1rem 0; 
    width: 90%; 
    margin: auto; 
    text-align: center; 
    color: 	var(--purp);
    line-height: 0.95; 
    font-size: 2.9rem;  
} 

.sec-a p{
    width: 100%;
    margin: auto;
    color: var(--fade);
    font-size: 1.4rem; 
    line-height: 1.8rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 3.5rem; 
    padding-top: 1.0rem; 
} 

.sec-b .rev-container{
    margin: auto; 
}

.sec-b .star-container{
    text-align: center;
    margin-bottom: .6rem;
}


.sec-b .rev-text{ 
    margin-bottom: 3.3rem;
    text-align: center;
    font-weight: bold;
    color: var(--purp);
} 
